<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>illustrator | home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Illustrator</h1>
    </header>
    <NAv>
        <a href="#">Home</a>
        <a href="#">videos</a>
        <a href="#">Posters</a>
        <a href="#">Login/signup</a>
    </NAv>
    <main>

        <section>
            <h1>
                Posters
            </h1>
            <h2>
                <img src="recruitment-01-01.png" alt="" width="30%" height=20%>
                <img src="workshop final-01.png" alt="" width="30%" height="20%">
                <img src="MEMBER FINAL-01.png" alt="" width="30%" height="20%">
            </h2>
        </section>
    <section>
        <h2>Our Founder</h2>
        <h2>
             <img src="prernakakkar.png"  alt="this is prerna kakkar" width="13%" height="20%">
        </h2>
        <h3>Prerna Kakkar</h3>
        <a href="http://www.instagram.com/prernakakkar08" target="_blank" rel="noopener noreferrer">instagram</a>&nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/prerna-kakkar-a745b1210" target="_blank" rel="noopener noreferrer">linkedin</a>
    </section>
</main>
<footer>
    <a href="#">FAQ</a>
    <a href="#">Contact Us</a>
    <a href="#">Privacy policy</a>
    <a href="#">Refund policy</a>
    <a href="#">&copy; 2021 | Illustrator</a>
</footer>
</body>
</html>